body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0004ffa1;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

.left-section, .middle-section, .right-section {
    flex: 1;
    margin: 0 10px;
}

.left-section, .right-section {
    background-color: #f4f4f4;
    padding: 10px;
    
}

.left-section ul {
    list-style: none;
    padding: 10px;
}
.left-section li {
    margin: 5px;
    padding: 10px;
}

.middle-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.middle-section th, .middle-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

footer {
    background-color: #0004ffa1;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer a {
    color: #fff;
}
